/node_modules/
/target/
/src-tauri/target/
/src-tauri/gen/android/.gradle/
/src-tauri/gen/android/app/build/
/src-tauri/gen/android/build/
/src-tauri/gen/android/buildSrc/.gradle/
/src-tauri/gen/android/buildSrc/.kotlin/
/src-tauri/gen/android/buildSrc/build/
/.idea/
*.log
