<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.liut.bingwallpaper">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_bing"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".SettingActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:targetActivity=".SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ManualSetActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:label="@string/manual_set_label"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".SourceListActivity" />

        <activity android:name=".AddSourceActivity" />

        <activity android:name=".AboutActivity" />

        <service android:name=".SyncWallpaperService" />

        <service
            android:name=".AlarmJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".MainBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <action android:name="android.intent.action.DATE_CHANGED" />

                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="2464"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

    </application>

</manifest>